{%extends display.mvc%}

{%block body%}

  <div class="blogEx">
    <header class="header minimalW">
      <h1><a href="{{url.kingdom}}">{{site.title}}</a></h1>
      <h2>{{site.desc}}</h2>
    </header>
    <nav class="nav minimalW">
      <a href="{{url.kingdom}}">{%trans "Homepage"%}</a>
      <a href="{{url.kingdom}}/about">{%trans "About"%}</a>
      <a href="{{url.kingdom}}/contact">{%trans "Contact"%}</a>
    </nav>
    <main class="minimalW">
{%set homePagePost = posts({"limit" : 10})%}
{%for key, value in homePagePost%}
      <article>
        <header>
          <h2><a href="{{url.kingdom}}">{{value.title}}</a></h2>
          <div class="meta"><time datetime="{{value.publishdate}}">{{value.publishdate | dt}}</time></div>
        </header>
        <section>
          <p>{{value.desc}}</p>
          <div class="more"><a href="{{url.kingdom}}">{%trans "Keep Reading"%} <span class="sf-angle-double-right"></span></a></div>
        </section>
      </article>
{%endfor%}

    </main>
    <footer>
      <div class="copyright"><a href="{{url.kingdom}}">{{site.title}}</a></div>

    </footer>
  </div>

{%endblock%}
